@{
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}
<div id="wrapper" ng-controller="ControlPanelCtrl as ctrl">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-brand">Twilio SIP Registration</div>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li dropdown>
                <a href="#" dropdown-toggle><i class="fa fa-user"></i> {{ctrl.account.firstName}} {{ctrl.account.lastName}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ng-click="ctrl.refresh()"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" ng-click="ctrl.logOut()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li ng-class="{active: ctrl.route.current.activeTab=='dashboard'}">
                    <a href="/control-panel"><i class="fa fa-lg fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li ng-class="{active: ctrl.route.current.activeTab=='devices'}">
                    <a href="/control-panel/devices"><i class="glyphicon fa-fw glyphicon-phone-alt"></i> &nbsp;Devices</a>
                </li>
                <li ng-class="{active: ctrl.route.current.activeTab=='calls'}">
                    <a href="/control-panel/calls"><i class="fa fa-lg fa-fw fa-phone"></i> Calls</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid" ng-view></div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->